<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="QuanLyPhongMach.Properties.Settings.QuanLyPhongMachConnectionString"
        connectionString="Data Source=DESKTOP-M921J48;Initial Catalog=QuanLyPhongMach;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
